<h1>StaticPages#home</h1>
<p>Find me in app/views/static_pages/home.html.erb</p>

  <% if user_signed_in? %>
<div id="left-side-div">
  <%= "Display current user if logged in: " + current_user.email %>
  <%= form_for [current_user, @poem] do |f| %>
    <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :first_line %>
  <%= f.text_area :firstline %>
  <%= f.submit %>
  <% end %>
</div>

<div id="main-content-div">
  <h2>Poems</h2>
  <table>
    <tr>
      <td>
        <!-- Left blank for votes section -->
      </td>
      <td>
        Title
      </td>
    </tr>
    <% @poems.each do |poem| %>
    <tr>
      <td>
        <%= poem.votes %>
      </td>
      <td>
        <%= link_to poem.title, [User.find(poem.user_id), poem] %>
      </td>
    </tr>
    <% end %>
  </table>
</div>

  <% else %>
<p>Please Log In</p>
  <% end %>