<div class="row">
  <% if user_signed_in? %>
  <div class="col-md-4">

    <h3>Start a Poem</h3>
    <!--<%= "Display current user if logged in: " + current_user.email %>-->
    <%= form_for [current_user, @poem], :html => {:class => 'form-horizontal', :role => 'form'} do |f| %>
    <div class="form-group">
      <%= f.label :title, :class => 'col-md-2' %>
      <%= f.text_field :title, :class => 'col-md-10' %>
    </div>
    <div class="form-group">
      <%= f.label :first_line, :class => 'col-md-2' %>
      <%= f.text_area :firstline, :class => 'col-md-10' %>
    </div>
      <%= f.submit 'submit', :class => 'btn btn-default pull-right' %>
    <% end %>
  </div>


  <% else %>
  <div class="col-md-4">
    <p>Please log in to contribute!</p>
  </div>
  <% end %>

  <div class="col-md-8">
    
    <div class="row">
      <div class="col-md-1">
      </div>
      <div class="col-md-8">
        <h2>Poems</h2>
      </div>
      <div class="col-md-3">
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-1">
      </div>
      <div class="col-md-8">
        Title
      </div>
      <div class="col-md-3">
        Author
      </div>
    </div>
    
    <% @poems.each do |poem| %>
      <% @user = User.find(poem.user_id)%>
    <div class="row">
      <div class="col-md-1">
        <%= poem.votes %>
      </div>
      <div class="col-md-8">
        <%= link_to poem.title, [@user, poem] %>
      </div>
      <div class="col-md-3">
        <%= link_to @user.email, @user %>
      </div>
    </div>
    <% end %>
  </div>
  
</div>