<!DOCTYPE html>
<html>
<head>
  <title>Excor</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Project name</a>
        </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="active"><%= link_to "Home", root_path %></li>
              <li><%= link_to "Poets", users_index_path %></li>
            </ul>
            <div class="navbar-form navbar-right">
              <div class="form-group">
                <% if user_signed_in? %>
                <label class="navbar-customlabel">Logged in as <%= current_user.email %></label>
                  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'btn btn-primary' %>
                  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'btn btn-default'  %>
                <% else %>
                  <%= link_to "Sign up", new_user_registration_path, :class => 'btn btn-primary'  %>
                  <%= link_to "Login", new_user_session_path, :class => 'btn btn-success'  %>
                <% end %>
              </div>
            </div>
          </div><!--/.nav-collapse -->
      </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Hello, world!</h1>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
      </div>
    </div>
  
<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>
  
<div class="container">
<%= yield %>

<% if Rails.env.development? %>
  <br />
  <br />
  <br />
  <hr />
  <%= debug(params) %>
<% end %>
  
</div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>
